#logo {
  width: 40%;
  margin-top: 10px;
  padding: 5px;
  align-items: center;
  justify-content: center;
}

.spacer {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  color: #fff;
}

.mouseHover:hover {
  cursor: pointer;
  background-color: rgba(146, 219, 243, 0.219);
  transition: all 0.7 ease-in-out;
  border-radius: 4px;
}

app-cart {
  position: fixed;
  color: black;
  right: 0;
}
